.body{
    margin:0px;
}
.wrap{
    width:800px;.
    margin: auto;
    background:blue;    
}

.box{
    width:400px;
    height:400px;
    background: red;
    position: absolute;
    left:20px;
    top:50px;
    }
