.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.maincontent{
	height:550px;
	background: #dddb9e;
}
.left-sidebar{
	float:left;
	height:500px;
    width: 50%;
	background: #ddaf67;
    text-align: center;
}
.right-sidebar{
	float:right;
	height:500px;
    width:50%;
	background: #ddb6b0;
    text-align: center;
}
.footer{
	height:50px;
	background: #676b70;
    text-align: center;
}